
body {
	background-image: url('img/backgroundofbackground2.gif')
}
h1 {
	color: GhostWhite;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-weight: 100px;
	font-size: 60px;
}
h2 {
	font-family: 'Chicle', cursive;
	color: MediumVioletRed;
	text-align: center;
	font-size: 40px;
	font-weight: 10;
}
.oval {
	width: 500px;
	height: 600px;
	background-image: url('img/tamagotchibackground.png');
	background-repeat: repeat;
	background-size: 100px;
	border-radius: 50%;
	border: 2px solid pink;
	box-shadow: 10px 10px 10px rgba(69,69,69,0.5), inset 1em 1em rgba(255,255,255,0.3);
}

p {
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
	text-align: center;
	color: DeepPink;
	padding: auto 10px;
	background-color: rgb(255,255,255,0.3);
	width: 300px;
	padding: 10px;
}
#text{
	width: 200px;
	text-align: center;
}
#hungry, #boredy, #sleepy {
	border-radius: 50%
	font-size: 1px;
	font-family: 'Press Start 2P', cursive;
	display: inline-block;
  	justify-content: space-between;
  	float: left;
}
#start, .getName{
	display: block;
	margin-left: auto;
    margin-right: auto;
   	font-family: 'Press Start 2P', cursive
}
#gameText {
	display: block;
	margin: auto auto;

	
}
button {
	padding: 10px;
	display: inline-block;
	margin: 4px 2px;
	border-radius: 50%;
	font-size: 10px;
	box-shadow: 5px 5px 5px rgba(105,105,105,0.5), inset 2em 2em rgba(255,255,255,0.1);
	background-color: pink;
	color: Deeppink;
}

#logo {
   	display: block;
    margin: 20px auto auto auto;
    

   
}
.displayImage {
	display: block;
    margin: -10px auto 30px auto;
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 10px; 
    border: 2px GhostWhite solid;
    box-shadow: inset 0px 0px 40px rgba(105,105,105);
}


