h1 {
	color: GhostWhite;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-weight: 100px;
	font-size: 60px;
}

.oval {
  width: 600px;
  height: 700px;
  background-clip: content-box;
  background-image: url('img/tamagotchibackground.jpg');
  border-radius: 50%;
  border: 2px solid pink;
}

.text {
	font-family: 'Press Start 2P', cursive;
}
